<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>adminsseebookings</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>


<body>
<header>
    <div class="logocontainer">
        <a href="frontpage.html" th:href="@{/}">
            <img src="../public/images/logo.png" th:src="@{/images/logo.png}" width="20%" alt="logo"/>
        </a>
    </div>

    <div class="nav-links">
        <form class="accountbuttons">
            <a>
                <p th:if="${session.currentUser !=null}">
                    <!--            <a href="frontpage.html" th:href="@{/logout}">Log ud</a>-->
                    <button type="button" class="accountbuttons"><a href="frontpage.html" th:href="@{/logout}">Log
                        ud</a></button>
                </p>
            </a></form>
        <form class="accountbuttons" method="get">
            <a href="account.html">
                <button type="button" class="accountbuttons">Konto</button>
            </a>
        </form>
    </div>

</header>

<h1>Adminside<span th:text="${session.currentUser.email}"></span></h1>


<div class="adminbuttons_right">


    <form class="adminbuttons" method="get">
        <a href="adminseeequipment.html">
            <button type="button" class="adminbuttons">Udstyr</button>
        </a>
    </form>
    <form class="adminbuttons" method="get">
        <a href="adminSeeStudents.html">
            <button type="button" class="adminbuttons">Brugere</button>
        </a>
    </form>
</div>

<div class="containercolumns">

    <!-- Left Column with Images -->
    <div class="column left">
        <div class="adminbuttons_centered">

            <table>
                <thead>
                <tr>
                    <th>Bookings</th>
                    <th>acction</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bookings: ${bookingsList}">
                    <td th:text="${bookings.bookings_id}"></td>
                    <td>
                        <button type="submit">Godkend</button>
                        <button type="submit">Slet</button>
                        <p>Send bekræftelse til bruger</p>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Middle Column with Admin Buttons -->
    <div class="column middle">
        <p>Knap - opret bruger / se brugere / ret / slet</p>
        <p>Knap - se bookinger</p>
        <p>Knap - se udstyr / tilføj udstyr / ret udstyr / slet udstyr</p>
    </div>


    <!-- Right Column with Images -->
    <div class="column right">
        <div class="image-container">
            <img src="../public/images/students.png" th:src="@{/images/students.png}" width="75%" alt="Students"/>
            <img src="../public/images/makerlab.png" th:src="@{/images/makerlab.png}" width="75%" alt="Makerlab"/>
        </div>
    </div>
</div>
<table>
    <tr>
        <th>Company</th>
        <th>Contact</th>
        <th>Country</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
    <tr>
        <td>Centro comercial Moctezuma</td>
        <td>Francisco Chang</td>
        <td>Mexico</td>
    </tr>
    <tr>
        <td>Ernst Handel</td>
        <td>Roland Mendel</td>
        <td>Austria</td>
    </tr>
    <tr>
        <td>Island Trading</td>
        <td>Helen Bennett</td>
        <td>UK</td>
    </tr>
    <tr>
        <td>Laughing Bacchus Winecellars</td>
        <td>Yoshi Tannamuri</td>
        <td>Canada</td>
    </tr>
    <tr>
        <td>Magazzini Alimentari Riuniti</td>
        <td>Giovanni Rovelli</td>
        <td>Italy</td>
    </tr>
</table>

<footer class="footer-container">
    <div class="footer-column">
        <h3>Sociale medier</h3>
        <p><a href="https://www.facebook.com/copenhagenbusinessacademy">Facebook</a></p>
        <p><a href="https://www.instagram.com/cphbusiness/">Instagram</a></p>
    </div>
    <div class="footer-column">
        <h3>Kontakt:</h3>
        <p>Hjælp : kontakt@cphbusiness.dk</p>
        <p>It hjælp : helpdesk@cphbusiness.dk</p>
    </div>
    <div class="footer-column">
        <h3>Adresse</h3>
        <p>Firskovvej 18 2800Kongens Lyngby</p>
        <p>Mandag-torsdag 8.00 - 15.30</p>
    </div>
</footer>

</body>
</html>
