<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<title>adminsseestudents</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>


<body>
<header>
    <div class="logocontainer">
        <a href="frontpage.html" th:href="@{/}">
            <img src="../public/images/logo.png" th:src="@{/images/logo.png}" width="20%" alt="logo"/>
        </a>
    </div>

    <div class="nav-links">
        <form class="accountbuttons">
            <a><p th:if="${session.currentUser !=null}">
                <!--            <a href="frontpage.html" th:href="@{/logout}">Log ud</a>-->
                <button type="button" class="accountbuttons"><a href="frontpage.html" th:href="@{/logout}">Log ud</a></button>
            </p></a></form>
        <form class="accountbuttons" method="get">
            <a href="account.html">
                <button type="button" class="accountbuttons">Konto</button>
            </a>
        </form>
    </div>
</header>

<h1>Velkommen til adminsiden <span th:text="${session.currentUser.email}"></span></h1>

<form class="adminbuttons" method="get">
    <a href="createuser.html">
        <button type="button" class="adminbuttons">Opret bruger</button>
    </a>
</form>
<div class="adminbuttons_right">


    <form class="adminbuttons" method="get">
        <a href="adminseebookings.html">
            <button type="button" class="adminbuttons">Bookinger</button>
        </a>
    </form>
    <form class="adminbuttons" method="get">
        <a href="adminseeequipment.html">
            <button type="button" class="adminbuttons">Udstyr</button>
        </a>
    </form>
    <form class="adminbuttons" method="get">
        <a href="admin.html">
            <button type="button" class="adminbuttons">Adminside</button>
        </a>
    </form>
</div>

<div class="column left" >
    <div class="containercolumns">

<!--        <form class="adminbuttonspages" method="get">-->
<!--            <a href="createuser.html">-->
<!--                <button type="button" class="adminbuttonspages">Opret bruger</button>-->
<!--            </a>-->
<!--        </form>-->
<!--        <br><br>-->

<!--        <form class="adminbuttonspages" method="get">-->
<!--            <a href="adminseebookings.html">-->
<!--                <button type="button" class="adminbuttonspages">Bookinger</button>-->
<!--            </a>-->
<!--        </form>-->
<!--        <br><br>-->
<!--        <form class="adminbuttonspages" method="get">-->
<!--            <a href="adminseeequipment.html">-->
<!--                <button type="button" class="adminbuttonspages">Udstyr</button>-->
<!--            </a>-->
<!--        </form>-->
    </div>

    <h3>ShowAllUsers</h3>
    <table>
        <thead>
        <tr>
            <th>User Email</th>
            <th>User id</th>
            <th>Navn</th>
            <th>Telefon</th>
            <th>Rolle</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user: ${userList}">
            <td th:text="${user.user_id}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.phone}"></td>
            <td th:text="${user.roles}"></td>
        </tr>
        </tbody>
        <tbody>
        <!--        <tr th:each="user: ${userList}">-->
        <!--            <td th:text="${user.user_id}"></td>-->
        <!--        </tr>-->
        </tbody>
    </table>



<div class="column middle">

</div>

<footer class="footer-container">
    <div class="footer-column">
        <h3>Sociale medier</h3>
        <p><a href="https://www.facebook.com/copenhagenbusinessacademy">Facebook</a></p>
        <p><a href="https://www.instagram.com/cphbusiness/">Instagram</a></p>
    </div>
    <div class="footer-column">
        <h3>Kontakt:</h3>
        <p>Hjælp : kontakt@cphbusiness.dk</p>
        <p>It hjælp : helpdesk@cphbusiness.dk</p>
    </div>
    <div class="footer-column">
        <h3>Adresse</h3>
        <p>Firskovvej 18 2800Kongens Lyngby</p>
        <p>Mandag-torsdag 8.00 - 15.30</p>
    </div>
</footer>

</body>
</html>
