<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>

    <div class="logocontainer">
        <a href="frontpage.html" th:href="@{/}">
            <img src="../public/images/logo.png" th:src="@{/images/logo.png}" width="20%" alt="logo"/>
        </a>
    </div>

    </div>
</header>


<div class="containercolumns">

    <div class="column left">
        <h2>Login:</h2><br><br>
        <form class="login-form" method="post" action="/login">
            <input type="email" name="email" placeholder="Email"/><br><br>
            <input type="password" name="password" placeholder="Password"/><br><br>
            <button type="submit" class="login-button">Login</button>
        </form>
        <div><p th:text="${message}"></p></div>
    </div>

    <div class="column middle"><br><br>
        <p>Velkommen til MakerLab / MediaLab bookingsystemet!

            Dette bookingsystem er designet til at gøre det nemt for dig at låne
            og administrere udstyr til dine projekter. Her kan du finde og reservere tilgængeligt udstyr, se hvem der
            har lånt hvad, og få et klart
            overblik over dets tilgængelighed.
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
            Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at
            Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem
            Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable
            source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes
            of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular
            during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in
            section 1.10.32.</p>

    </div>

    <div class="column right">
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/NpZ-MjUrvN0?start=5" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            <br><br>
        </div>
        <br><br>

        <div class="image-container">
            <img src="../public/images/students.png" th:src="@{/images/students.png}" width="50%" alt="logo"/>
            <img src="../public/images/makerlab.png" th:src="@{/images/makerlab.png}" width="50%" alt="logo"/>
        </div>
    </div>
</div>

<footer class="footer-container">
    <div class="footer-column">
        <h3>Sociale medier</h3>
        <p><a href="https://www.facebook.com/copenhagenbusinessacademy" class="facebook-link">
            <img src="facebook.png" alt="facebook" class="social-icon">
            Facebook</a></p>
        <p><a href="https://www.instagram.com/cphbusiness/" class="instagram-link">
            <img src="instagram.png" alt="instagram" class="social-icon">
            Instagram</a></p>
    </div>
    <div class="footer-column">
        <h3>Kontakt</h3>
        <p>Hjælp : kontakt@cphbusiness.dk</p>
        <p>It hjælp : helpdesk@cphbusiness.dk</p>
    </div>
    <div class="footer-column">
        <h3>Adresse</h3>
        <p>Firskovvej 18 2800Kongens Lyngby</p>
        <p>Mandag-torsdag 8.00 - 15.30</p>
    </div>
</footer>

</body>
</html>
