<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body4>

    <div class="box4">

        <div class="container">
            <img class="logo" alt="logo" src="../public/images/logo.png" th:src="@{/images/Foglogo.jpeg}" />
        </div>


        <div class="logincenter">
            <h1>Sign in</h1>
        </div>


        <div class="form-container">
            <form class="generic-form" method="post">
                <input type="text" name="email" placeholder="Email*" required>
                <input type="password" name="password" placeholder="Password*" required>
                <button class="btnLogin" type="submit" formaction="/login">Login</button>
                <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>
            </form>
        </div>




        <div class="centered">
            <span  th:if="${session.currentUser != null}">  </span>
        </div>
    </div>


</body4>
</html>
